body{
    background-color: #B3B3B3;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}

/*titulos*/
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #ffcf38
}

h3{
    text-align: center;
    font-size: 35px;
    color: #313131
}

h4{
    text-align: center;
    font-size: 20px;
    color: #dedede
}

/*tabela*/
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 0%;
    border:0px solid rgb(58, 58, 58);
    text-align:center
}

/*button controle*/

.buttons{
    background-color: #d5d5d5;
    width: 50%;
    margin: 0 auto;
}

.button-inicio{
    background-color: #9c9c9c;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    transition: .15s;
}

.button-inicio:hover{
    color: #ffffff;
    transform: scale(1.1);
}

.button-pokedex{
    background-color: #e93a13;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    transition: .15s;
}

.button-pokedex:hover{
    color: #ffffff;
    transform: scale(1.1);
}

.button-treinador{
    background-color: #f36d36;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

.button-treinador:hover{
    color: #ffffff;
    transform: scale(1.1);
}

.button-login{
    background-color: #e7bd44;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

.button-login:hover{
    color: #ffffff;
    transform: scale(1.1);
}

.button-perfil{
    background-color: #3bad63;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

.button-perfil:hover{
    color: #ffffff;
    transform: scale(1.1);
}
