body{
    background-color: #B3B3B3;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

/*titulos*/
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #ffcf38
}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: #000000
}

/*tabela*/
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    width:50%;
    border:0px solid rgb(58, 58, 58);
    text-align:center
}

/*button controle*/
.button-pokedex{
    background-color: #e93a13;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    transition: .15s;
}

.button-treinador{
    background-color: #f36d36;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

.button-login{
    background-color: #e7bd44;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

.button-perfil{
    background-color: #3bad63;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}


button:hover{
    background-color: #f2f2f2;
    color: #000000;
    transform: scale(1.05);
}

/*controle de cards*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container:hover > :not( :hover){
    opacity: 5;
    transform: scale(0.9);
}

.pokemon-fav{
    background: #ffffff;
    border: none;
    border-radius: 10px;
}

.pokemon-fav:hover{
    background: #f2f2f2;
    color: #ffffff;
}

.informacao{
    background-color: #454545;
    padding: 5px;
}
