h2 {
    color: #313131;
    margin: 0;
}

h3 {
    color: #313131;
    margin: 0;
}


h4 {
    margin-top: 2px;
}

h5 {
    color: #313131;
    margin: 0;
}

/*controle de cards(pokemon e jogos)*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
    /* Define a largura como 50% do contêiner pai */
    height: 400px;
    /* Define a altura como 50% do contêiner pai */
}

.container {
    transform: scale(0.5);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}

.img-pokemon {
    padding-left: 25px;
    border-radius: 100%;
    background-image: url("https://raw.githubusercontent.com/Guilherme-Cesar-Dev-Server/Pokemons/refs/heads/main/img/Assets/pokebola1_2.png");
}

/* Aumentar tanto a img-pokemon quanto o card ao mesmo tempo */
.container:hover,
.img-pokemon:hover {
    opacity: 4;
    transform: scale(0.57);
    /* Aumenta o tamanho em 10% */
    transition: transform 0.3s ease;
    /* Transição suave */
}

.container:hover .img-pokemon {
    opacity: 1.0;
    transform: scale(1.07);
    /* Aumenta o tamanho da imagem em 50% */
}

.container:hover,
.img-game:hover {
    opacity: 4;
    transform: scale(0.57);
    /* Aumenta o tamanho em 10% */
    transition: transform 0.3s ease;
    /* Transição suave */
}

.container:hover .img-game {
    transform: scale(1.01);
    /* Aumenta o tamanho da imagem em 50% */
}

.name {
    font-family: 'Flexo-Bold', sans-serif;
    padding-top: 10px;
    margin: 0;
    color: #313131;
    font-size: 35px;
    text-align: center;
}

.pokemon-fav,
.pokemon-game {
    background: #ffffff;
    transition: .35s;
    cursor: pointer;
    padding-top: 1px;
    border-radius: 30px;
}

.informacao {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    opacity: 0.8;
}

.informacao-game {
    background-color: #2a8c26;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*controle roll*/

.roll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url("https://raw.githubusercontent.com/Guilherme-Cesar-Dev-Server/Pokemons/refs/heads/main/img/Assets/container_bg.png");
    background-color: #d5d5d5;
    width: 95%;
    margin: 0 auto;
    box-shadow: #313131 0px 0px 20px;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/*controle area de texto*/

.roll-text {
    width: 95%;
    height: 90%;
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    margin: 20px
}

.text h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    padding-right: 50px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
    color: #626262;
}

.text img {
    opacity: 0.7;
    margin-left: 50px;
}

.text a {
    text-decoration: none;
    color: #474747;
}