/* controle de tipos de pokemons */

#bug, #Bug {
    width: 20%;
    background-color: #9cbf2f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#dark, #Dark {
    width: 20%;
    background-color: #5c586d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#dragon, #Dragon {
    width: 20%;
    background-color: #0171c6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#electric, #Electric {
    width: 20%;
    background-color: #f6d750;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#fairy, #Fairy {
    width: 20%;
    background-color: #f190e5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#fighting, #Fighting {
    width: 20%;
    background-color: #cf3f69;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#fire, #Fire {
    width: 20%;
    background-color: #fda14e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#flying, #Flying {
    width: 20%;
    background-color: #9cafe9;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#ghost, #Ghost {
    width: 20%;
    background-color: #6c6ec4;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#grass, #Grass {
    width: 20%;
    background-color: #5ebd63;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#ground, #Ground {
    width: 20%;
    background-color: #df783f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#ice, #Ice {
    width: 20%;
    background-color: #86dcce;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#normal, #Normal {
    width: 20%;
    background-color: #a2a69c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#poison, #Poison {
    width: 20%;
    background-color: #ad68c6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#psychic, #Psychic {
    width: 20%;
    background-color: #f57283;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#rock, #Rock {
    width: 20%;
    background-color: #cbc194;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#steel, #Steel {
    width: 20%;
    background-color: #4d8e90;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

#water, #Water {
    width: 20%;
    background-color: #67b2dd;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

/* controle de criadores */

#poizon, #Poizon {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    width: 30%;
    background-color: rgb(135, 45, 135);
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 62%;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

/* controle de região */

#Kanto, #kanto {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, red, blue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Johto, #johto {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, gold, gray);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Hoenn, #hoenn {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, darkblue, darkred);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Sinnoh, #sinnoh {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, hotpink, aquamarine);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Unova, #unova {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, black, white);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Kalos, #kalos {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, Darkred, DodgerBlue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Alola, #alola {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, Goldenrod, MidnightBlue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Galar, #galar {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, indianred, darkkhaki,royalblue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Paldea, #paldea {
    font-family: 'Flexo-Bold', arial, sans-serif;
    font-size: 28px;
    background: linear-gradient(to right, red, blueviolet, indigo);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}