body {
    background-color: #dc172b;
    color: #dedede;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}

/*titulos*/
#title {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 30px;
    color: #313131;
    margin: 0;
}

#cred {
    text-align: center;
    font-size: 20px;
    color: #dedede;
    margin: 26.6px;
}

#creator {
    text-align: center;
    font-size: 20px;
    color: #dedede;
    margin: 0;
}

/*creditos (<a>)*/

a {
    text-decoration: none;
}


/*imagem titulo*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    animation: mymove 1s infinite;
}

#title-pokedex {
    width: 100%;
    height: 350px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* APRENDER A CONTROLAR 
#title-pokedex div {
    flex: 1;
}

@keyframes mymove {
    10% {
        flex: 1.01;
    }
}
*/

/*button controle*/

.buttons {
    background-color: #ffffffc3;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

#button-inicio {
    background-color: #9c9c9c;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-inicio:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#button-pokedex {
    background-color: #e93a13;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-pokedex:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#button-treinador {
    background-color: #f36d36;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-treinador:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#button-pokemon {
    background-color: #e7bd44;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-pokemon:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#button-perfil {
    background-color: #3bad63;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-perfil:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/*navegação*/

.navegacao {
    background-color: #a01120;
    padding-top: 10px;
    box-shadow: 300px 500px 500px 500px #610a12;
    padding-bottom: 20px;
}

/*footer*/
footer {
    background-color: #313131;
    font-family: "Cascadia Code", monospace;
}

.footer-container {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 20px;
    z-index: 200;
}

#footer-section {
    width: 90%;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 30px;
}

#footer-section h4 {
    font-size: 20px;
    color: #b9b9b9;
    margin-bottom: 10px;
}

#footer-section p {
    font-size: 12px;
    color: #8a8a8a;
    margin-bottom: 5px;
}

#footer-section a {
    font-size: 15px;
    color: #8a8a8a;
    margin-bottom: 10px;
    text-decoration: none;
}

#footer-section a:hover {
    color: #ffffff;
}

#footer-section ul,
li {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    color: #8a8a8a;
}

#footer-section i {
    font-size: 20px;
    color: #8a8a8a;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #202020;
    padding: 20px;
    text-align: center;
    color: #8a8a8a;
    z-index: 100;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}

.footer-bottom a {
    color: #8a8a8a;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #ffffff;
}


/*titurlo*/

.title {
    text-align: center;
    font-size: 30px;
    color: #313131;
    background-image: url("../img/progress-bar.png");
    background-color: #e5c943;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}