.container {
    background-color: #fff;
    width: 240px;
    height: 310px;
    border-radius: 5px;
    transform: scale(0.9);
}

.container:hover {
    transform: scale(1.0);
}

/* controle carta */

.img-treinador {
    padding: 10px;
    padding-bottom: 0;
}

.treinador {
    margin: 0;
    color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.roll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url(../images/container_bg.png);
    background-color: #d5d5d5;
    width: 90%;
    margin: 0 auto;
    box-shadow: #313131 0px 0px 10px;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

#name {
    font-size: 25px;
    margin: 0;
}

#region {
    font-size: 15px;
    margin: 0;
}