body{
    background-color: #dc172b;
    color: #dedede;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}

/*titulos*/
#title{
    text-align: center;
    font-size: 35px;
    color: #313131;
    margin: 0;
}

#cred{
    text-align: center;
    font-size: 20px;
    color: #dedede;
    margin: 26.6px;
}

#creator{
    text-align: center;
    font-size: 20px;
    color: #dedede;
    margin: 0;
}

/*creditos (<a>)*/

a{
    text-decoration: none;    
}


/*imagem titulo*/

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8); /* Reduz o tamanho da imagem para 50% */
}

#title-pokedex{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*button controle*/

.buttons{
    background-color: #d7d7d7;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#button-inicio{
    background-color: #9c9c9c;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    transition: .15s;
}

#button-inicio:hover{
    color: #ffffff;
    transform: scale(1.1);
}

#button-pokedex{
    background-color: #e93a13;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    transition: .15s;
}

#button-pokedex:hover{
    color: #ffffff;
    transform: scale(1.1);
}

#button-treinador{
    background-color: #f36d36;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-treinador:hover{
    color: #ffffff;
    transform: scale(1.1);
}

#button-login{
    background-color: #e7bd44;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-login:hover{
    color: #ffffff;
    transform: scale(1.1);
}

#button-perfil{
    background-color: #3bad63;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: .15s;
}

#button-perfil:hover{
    color: #ffffff;
    transform: scale(1.1);
}

/*navegação*/

.navegacao{
    background-color: #a01120;
}

/*informacoes*/

.informacao-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

/*titurlo*/

.title{
    text-align: center;
    font-size: 30px;
    color: #d6aa2d;
    background-image: url("../images/progress-bar.png");
    background-color: #e5c943;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
