h4{
    margin-top: 5px;
}

/*controle de cards*/

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%; /* Define a largura como 50% do contêiner pai */
    height: 500px; /* Define a altura como 50% do contêiner pai */
}

.container{
    transform: scale(0.5);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

/* Aumentar tanto a img-pokemon quanto o card ao mesmo tempo */
.container:hover, .img-pokemon:hover {
    opacity: 4;
    transform: scale(0.7); /* Aumenta o tamanho em 10% */
    transition: transform 0.3s ease; /* Transição suave */
}

.container:hover .img-pokemon {
    transform: scale(1.05); /* Aumenta o tamanho da imagem em 50% */
}

.name{
    padding: 0;
    margin: 0;
    color: #313131;
    font-size: 35px;
    text-align: center;
}

.pokemon-fav{
    background: #a1a1a1;
    transition: .35s;
    cursor: pointer;
    padding-top: 1px;
}

.informacao{
    background-color: #16a4f1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*controle roll*/

.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url("../images/container_bg.png");
    background-color: #d5d5d5;
    width: 95%;
    margin: 0 auto;
    box-shadow: #313131 0px 0px 10px;
    flex-wrap: wrap;
    text-align: center;
}
